/**********CUSTOM CSS STYLING FOR SITE**********/

body {
	background-color: #5BBA6F;
	font-family: 'Oswald', sans-serif;
	font-weight: 400;	
	font-size: 18px;
	color: #435058; /*MAIN FONT COLOR*/
	text-decoration: none;
}

/*HEADER*/

.navbar {
	background-color: #A2FAA3;
	border-radius: 0;
	border-style: none;
}

.navbar-brand h1 { /*FOOD, LLC*/
	font-family: 'Oswald', sans-serif;
	margin-top: 0;
	margin-bottom: 0;
	line-height: .75;
	color: #435058;
}

.navbar-brand h1 span {
	font-size: .5em;
	margin-left: -4px;
}

.navbar-brand a:hover, .navbar-brand a:focus {
	text-decoration: none;	
}

.navbar-brand a h1:hover {
	color: #137547;
}

.navbar-header button.navbar-toggle { /*DROPDOWN MENU*/
	clear: both;
	margin-top: -35px;
}

#nav-list {
	margin-top: 0px;
	background-color: #92C9B1;
	margin-bottom: 0;
}

#nav-list a {
	text-align: center;
	color: #435058;
}

#nav-list a:hover {
	background: #137547;
	color: #A2FAA3;
}

/*MAIN SECTION*/

#our-menu {
	padding-bottom: 30px;
}

div.main-section {
	/*height: 1500px;*/
	background-color: #137547;
	color: #92C9B1;
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 10px;
}

div.main-section h3 {
	padding-bottom: 10px;
	padding-top: 10px;
}

div.main-section p {
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 15px;
}

div.back-to-top {
	text-align: right;
	padding-right: 5px;
	padding-bottom: 5px;
} 

div.back-to-top span {
	color: #435058;
	
} 

@media (min-width: 768px) {
	.navbar {height: 100px;}
	.navbar-brand h1 {font-size: 4em;}
}

@media (max-width: 576px) {
	div.main-section p {font-size: 1em; font-weight: 300}
	#container-for-box {
		margin: 0 auto;
	}
}